#login-link, #signup-link{
    font-size:25px;
    font-weight: bold;
    color: blue;
    margin: 1em 1em;
    text-decoration: none;
}

#userdata {
    padding: 1em 1em;
}

#username {
    font-size:25px;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}

#view_profile_button {
    margin: 10px;
}