<div class="product-details light-background" *ngIf="product">

    <div id="product_data">
        <h2>{{product.name | uppercase}} Details </h2>
        <div><span>id: </span>{{product.id}}</div>
        <div><span>name: </span>{{product.name}}</div>
        <div><span>price: </span>{{product.price}} HUF</div>
        <div><span>color: </span>{{product.color}}</div>
        <div><span>manufacturer: </span>{{product.manufacturerName}}</div>
        
        <button type="button" class="btn btn-primary" (click)="goBack()">BACK</button>
        <button *ngIf="authService.isAdmin()" (click)="editProduct()" type="button" class="btn btn-warning" >EDIT</button>
    </div>
    

    <div id="AddToCart_container" class="container">
        <form id="addToCart-form" (ngSubmit)="addProductToCart()" #addToCartForm="ngForm">
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" required #quantityField="ngModel" [(ngModel)]="quantityToBuy" name="quantity" min="1" max="10">
                <button id="addToCart-button" type="submit" class="btn btn-success" [disabled]="!addToCartForm.form.valid">ADD TO CART</button>
            </div>
            <div [hidden]="quantityField.valid"
                class="alert alert-danger">
                Quantity is required
            </div>
    
        </form>
    </div>

    <app-reviews [product]="product"></app-reviews>
</div>
