.product-details {
    padding: 20px;
    border: 5px outset #1A8CED;
    border-radius: 10px;
}

#product_data {
    padding: 5px;
    border-radius: 10px;
    background-color: #eeeeee;
}

div {
    font-size: 16px;
    margin: 6px;
}

button {
    margin: 0.5em;
    font-size: 1em;
}

#AddToCart_container {
    width: 300px;
    float: right;
    position: relative;
    bottom: 100px;
}

input {
    width: 80px;
}

#addToCart-button {
    float: right;
    position: relative;
    bottom: 45px;
}

app-reviews {
    position: relative;
    bottom: 20px;
}