#cart_container {
    width: 60%;
    margin: auto;
}

#cart_header {
    margin-left: 40px;
}

#product_in_cart_list {
    max-height: 680px;
    overflow: auto;
}

.productIC_list_item {
    margin: 0 10% 0 0;
    font-size: 1.4em;
    border: 5px outset #1A8CED;
    border-radius: 10px;
    padding: 0.5em;
}

.cart_item_button {
    float: right;
    position: relative;
    bottom: 40px;
    margin-right: 20px;
}

#total_price {
    font-size: 26px;
    float: right;
    margin: 20px 30px 0 0;
}

#buy_cart_items_button {
    float: right;
    margin: 60px 20px 0 0;
}