/* ----  Inherited from original styles  ----  */

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

/* ------------------------- */


#header_container {
    background-color: rgb(28, 103, 168);
    background-image: url("../assets/images/header-image.jpg");
    clear: both;
}

#logo_main, #header_navbars_ {
    float: left;
    background-color: transparent;
}

#header_navbars {
    padding-left: 15%;
    padding-top: 30px;
    height: 150px;
}

#navbar_info {
    font-size: 1.5em;
    text-align: center;
}

.nav_info_item {
    margin: 3em;
}

#header_navbars a:visited, #header_navbars a.link, #header_navbars a.active {
    color: white;
}

#cart_link {
    padding: 30px 0 0 30px;
    width: 15%;
    clear: left;
}

#login_block{
    padding-top: 5px;
    width: 15%;
    clear: left;
    border: 5px outset #1A8CED;
    border-radius: 10px;
}

.light-background {
    background-color: whitesmoke;
}

#router-outlet {
    width: 70%;
    min-height: 85%;
    padding: 15px 15px 15px 15px;
    margin: 0 15% 0 15%;
    position: absolute;
    top: 150px;
    background-color: rgb(189, 224, 238);
}