#product_list_container {
    clear: left;
}

.product_list_item {
    font-size: 1.4em;
    width: 50%;
    border: 1px solid grey;
    margin-left: 15%;
    padding: 0.5em;
}

.view_product_button {
    float: right;
    position: relative;
    bottom: 2.5em;
}