/* You can add global styles to this file, and also import other style files */

body {
    background-color: #eeeef5;
}

.light-background {
    background-color: white;
}

ul li { 
    margin: 20px;
    display: inline; 
}