/* You can add global styles to this file, and also import other style files */

body {
    width: 90%;
    margin: auto;
}

ul li { 
    margin: 20px;
    display: inline; 
}

/* Forms */
.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border: 3px solid #a94442; /* red */
}